.fortune-teller__button {
  margin: auto;
  background: #333;
  color: #fff;
  width: 200px;
  height: 60px;
  border: 0;
  font-size: 20px;
  font-weight: 400;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
}

.fortune-teller__button:hover {
  background: #cd7e59;
  cursor: pointer;
}

.fortune-teller__button:hover:before {
  transform: translateX(300px)  skewX(-15deg);
  opacity: 0.6;
  transition: .7s;
}

.fortune-teller__button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
}

